@charset "utf-8";

#contents{
    display: flex;
    text-align: center;
}

#area1{
    flex: 1;
}

#num_list{
    flex: 2;
}

#output_num{
    font-size: 2em;
}

table{
    margin: auto;
    width: 100%;
    height: 300px;
}

td{
    font-size: 1.2em;
}

@media screen and (max-width : 1000px) {
    #contents{
        flex-direction: column;
    }
}