@charset "utf-8";

*{
  user-select: none;
  -webkit-user-select:none;
  -webkit-touch-callout: none;

}

table{
  margin: auto;
  width: 300px;
  height: 300px;
  text-align: center;
  background-color: #FDF0C7;
}

#make_card{
  margin: auto;
  text-align: center;
}

#make_card_btn{
  margin: 5px;
}

.hole{
  background-color: #E5E5E5;
}

td{
  border-radius: 50%;
  width: 20%;
  background-color: #fff;
  font-size: 1.2rem;
}

caption{
  font-size: 1.5em;
}

caption span{
  margin: 0px 20px;
}

.b{
  color: red;
}
.i{
  color: orange;
}
.n{
  color: blue;
}
.g{
  color: green;
}
.o{
  color: purple;
}